.wrap {
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  overflow: hidden;
  position: relative;
  background-image: url("/img/relic_info_bg.jpg");
  background-size: 100% 100%;
  .top {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5 {
      color: #fcd587;
      font-weight: normal;
    }
    h2 {
      margin-top: 10px;
      margin-bottom: 4px;
      font-size: 40px;
      color: #fcd587;
    }
    img {
      height: 16px;
      margin: 0 2px;
    }
  }
  .content {
    margin-top: 20px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    & > div {
      width: 270px;
      height: 245px;
      background-image: url("/img/relic_bg.png");
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      & > img {
        height: 100%;
      }
    }
  }
  .description {
    margin-top: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > p {
      padding: 0 50px;
      font-size: 12px;
      color: #ffffff;
    }
    ul {
      margin-top: 20px;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 160px;
        margin-bottom: 0;
        img {
          height: 28px;
        }
        p,
        span {
          font-size: 12px;
          color: #ffffff;
        }
      }
    }
  }
  .numbers {
    margin-top: 24px;
    padding: 0 30px;
    .numbersItem1 {
      display: flex;
      align-items: flex-end;
      span {
        margin-left: 10px;
        color: #ffffff;
      }
    }
    .numbersItem2 {
      margin-top: 12px;
      display: flex;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
      }
      span {
        margin-left: 10px;
        color: #f9dca0;
      }
    }
  }
  .bottom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    height: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: 50px;
    }
  }
}
.modalWrap {
  // background-color: #fff;
  // color: #ffffff;
  background: none;
}
.modalContentWrap {
  // background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    padding: 20px 30px;
    width: 70%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
