.wrap {
  background: url("/img/720db9dd-bba4-4f77-a661-be24ace9e105.jpg") center center;
  background-size: 100% 100%;
  color: #ffffff;
  position: fixed;
  font-size: 12px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .npc {
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;
    img {
      width: 40%;
      position: relative;
      top: 50px;
    }
  }
  .content {
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    z-index: 1;
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
  .backWrap {
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-right: 12px;
    display: flex;
    align-items: center;
    border-top: 2px solid #0e7469;
    justify-content: flex-end;
    img {
      height: 44px;
    }
  }
  .selection {
    width: 100%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 1);
    :global(button) {
      width: 100%;
      margin-bottom: 6px;
    }
  }
  .topWrap {
    height: 40px;
    border-bottom: 3px solid #ffffff;
    padding: 12px;
    background-color: #2e524f;
  }

  .contentWrap {
    background-size: cover;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: auto;
    .contentItem {
      display: flex;
      align-items: center;
      padding: 6px 0;
      .swalWrap {
        margin-left: 12px;
      }
    }
  }
  .bottomWrap {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    width: 100%;
    background: url("/img/beijing1_bottom.jpg") center center;
    background-size: cover;
    background-repeat: repeat-y;
    height: 160px;
    border-top: 3px solid #0e7469;
    .bottomBlock1 {
      display: flex;
      justify-content: space-around;
      div {
        img {
          width: 40px;
        }
        p {
          font-size: 12px;
          text-align: center;
        }
      }
    }
    .bottomBlock2 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .bottomBlock2 > div:first-child,
    .bottomBlock2 > div:nth-child(3) {
      img {
        width: 40px;
      }
      p {
        font-size: 16px;
        text-align: center;
      }
    }
    & > div:nth-child(2) {
      img {
        width: 60px;
      }
      p {
        font-size: 24px;
        text-align: center;
      }
    }
  }
}
.loadingWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* HTML: <div class="loader"></div> */
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 60px;
    aspect-ratio: 1;
    display: flex;
    color: #fff;
    border: 4px solid;
    box-sizing: border-box;
    border-radius: 50%;
    background: radial-gradient(circle 5px, currentColor 95%, #0000),
      linear-gradient(currentColor 50%, #0000 0) 50%/4px 60% no-repeat;
    animation: l1 2s infinite linear;
  }
  .loader:before {
    content: "";
    flex: 1;
    background: linear-gradient(currentColor 50%, #0000 0) 50%/4px 80% no-repeat;
    animation: inherit;
  }
  @keyframes l1 {
    100% {
      transform: rotate(1turn);
    }
  }
}
