.wrap {
  & > div {
    display: flex;
    height: 16px;
    span {
      display: flex;
      align-items: center;
      margin-right: 6px;
      img {
        height: 16px;
      }
    }
  }
  & > p {
    margin-top: 4px;
    line-height: 18px;
  }
}
